.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.flex-container{
  display: flex;
}
.btn{
  background-color: rgb(154, 0, 0);
  color: white;
}
select{
  box-shadow: none;
  border-color: black;
}
